:root {
    --navbarColor: #002547;
    --activeBtnColor: #1d4e7c;
    --hoverBtnColor: #0f3760;
}

ul {
    background-color: var(--navbarColor);
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    -webkit-app-region: drag;
}

li {
    float: left;
}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle;
}

li span:hover {
    cursor: pointer;
}

li span:hover:not(.active) {
    background-color: var(--hoverBtnColor);
}

.active {
    background-color: var(--activeBtnColor);
}

.logo {
    position: relative;
    padding: 0px 10px 0px 10px;
    top: 5px;
}