<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kraken Launcher</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="assets/css/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="main">
        <div class="navbar">
            <ul>
                <li class="logo"><img src="assets/images/logo.png" width="46" height="46"></li>
                <li class="active"><a href=""><i class="material-icons">dashboard</i> Home</a></li>
                <li><a href=""><i class="material-icons">list</i> Instances</a></li>
                <li><a href=""><i class="material-icons">archive</i> Modpacks</a></li>
            </ul>
        </div>

        <div class="content">
            <center>
                Hello World!!!<br>
                Node Version <script>document.write(process.versions.node)</script><br>
                Electron Version <script>document.write(process.versions.electron)</script>
            </center>
        </div>

        <div class="footer">
            <div class="footer-content">
                <div class="left">
                    <p class="mc-text">Minecraft: <span class="mc-acc">TestMCUser</span></p>
                </div>

                <div class="right">
                    <p class="mc-text"><a class="settings" href="javascript:window.open('settings.html', 'Settings', 'width=200,height=150');">Settings <i class="material-icons">settings</i></a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>